.App {
}

.Page {
  background-color: white;
}

.Opening-Section {
  text-align: center;
  background-image: url(./opeingImage.jpg);
  position: relative;

    /* Full height */
  height: 100vh;
  width: 100%;

    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.FirstName {
  text-align: center;
  position: relative;
  color: white;
  font-size: 180px;
  padding-top: 10%;
}

.LastName {
  text-align: center;
  position: relative;
  color: white;
  font-size: 180px;
}

.Title {
  text-align: center;
  position: relative;
  color: #3d3c3c;
  font-size: 80px;
}

.Main-Body {
  background-color: #f0f0f0;
}

.Work-Experience {
  background-color: #f0f0f0;
}

.Projects {
  background-color: #e3e3e3;
}

.Body-Header {
  padding-top: 50px;
  font-size: 50px;
  margin-bottom: -80px;
}

.Footer {
  background-color: #3d3c3c;
}

.Footer-Text-Left {
  color: white;
  vertical-align: center;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.Footer-Text-Right {
  color: white;
  text-align: right;
  vertical-align: center;
  padding-right: 50px;
}


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
